html, body {
  background-color: #ebeaee;
}

/************************
******** Navbar ********
***********************/

#navbar .nav-wrapper {
  background-color: gray;
  text-align: center;
}

#navbar .logo {
  font-size: 24px;
}

/************************
******** Home ********
***********************/

#home .border-dotted {
  border: 2px dotted #595059;
}

#home .border-dashed {
  border: 2px dashed #595059;
}

#home .border-groove {
  border: 2px groove #595059;
}

#home .border-double {
  border: 10px double #595059;
}

#home .border-ridge {
  border: 10px ridge #595059;
}

#home .border-mix {
  border-style: dotted dashed double solid;
}

#home .centralizar {
  text-align: center;
  /* padding: 50px 25px 100px 40px; */
}

#home .container {
  margin-top: 24px;
}

#home .descricao {
  font-size: 14px;
  text-align: justify;
}

#home .btn-style {
  background-color: transparent !important;
  border: 2px solid #595059;
  color: #595059;
}

#home .btn-style:hover {
  background-color: #595059 !important;
  /* border: 2px solid #26a69a; */
  border: 2px solid #595059;
  color: white;
}

#home .height {
  height: 490px;
}

#home .title {
  color: #595059;
  font-size: 30px;
  /*font-weight: 500;*/
  text-align: center;
}

#home .titulo {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

@media (min-width: 768px) {
  #home .height {
    max-width: 500px;
  }
  #home .centralizar {
    margin: 0 auto;
  }
  #home .margin {
    margin-bottom: 30px;
  }
}

@media (min-width: 1201px) and (max-width: 1700px) {
  #home .imagem {
    max-height: 160px;
  }
}